.grid{
    grid-template-columns: 2fr 3fr;
}

.headLine{
    margin-top: 12rem;
}

.imagenInicio{
    max-width: 100%;
    margin: 6rem 0rem 6rem 12rem;
}

@media (max-width: 45rem) {
    .grid{
        grid-template-columns: 1fr;
    }

    .imagenInicio{
        grid-row: 1;
    }
}